<html>
<head>
    <title>Trades</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
    {% load static %}
    <link href="{% static 'letter.css' %}" rel="stylesheet">
    {% load static %}
    <script src="{% static 'jquery-3.2.1.js' %}"></script>
    {% load static %}
    <script src="{% static 'jquery-ui.min.js' %}"></script>
    {% load static %}
    <script src="{% static 'new_trade.js' %}"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jquery-ui.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}" />
</head>
<body>
<div>
    <a  href="{% url 'logout_view' %}"><button type="button" style="margin-top: 2em;" class="btn btn-default btn-lg" >Log out</button></a>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>