{% extends 'base.html' %}
{% load humanize %}


{% block content %}
    {% if not isCompany %}
        <table width=100% height=100%>
        <tr>
            <td valign="top" width=50%>
                <h2><a href="/">Responses Submitted</a></h2>
                    <table align="center" class="table table-striped">
                        <thead>

                            <td><div align="center">Company</div>

                            <td><div align="center">Question</div>

                            <td><div align="center">Reward</div>

                            <td><div align="center">Response date</div>
                        </thead>
                        <tbody>
                            {% for response in responses %}
                                <tr>

                                    <td><div align="center">{{response.get_company}}</div></td>

                                    <td><div align="center">{{response.question.question_text}}</div></td>

                                    <td><div align="center">{{response.point_rewarded |intcomma}} </div><br></td>

                                    <td><div align="center">{{response.response_date}}</div></td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </td>

            <td width=50%>
                <h2><a>Total point accumulated</a></h2>
                <h3><a>{{ user_acumulated }}</a></h3>
            </td>
        </tr>
    </table>
    {% else %}
        <table width=100% height=100%>
        <tr>
            <td valign="top" width=50%>
                <h2><a href="/">Responses Submitted</a></h2>
                    <table align="center" class="table table-striped">
                        <thead>

                            <td><div align="center">Survey ID</div>

                            <td><div align="center">Survey Title</div>

                            <td><div align="center">Users surveyed</div>

                            <td><div align="center">Points rewarded</div>

                            <td><div align="center">Profile</div>

                            <td><div align="center">Options</div>
                        </thead>
                        <tbody>
                            {% for survey in surveys %}
                                <tr>

                                    <td><div align="center">{{survey.id}}</div></td>

                                    <td><div align="center">{{survey.title}}</div></td>

                                    <td><div align="center">{{survey.get_number_responses |intcomma}} </div><br></td>

                                    <td><div align="center">{{survey.get_points_rewarded}}</div></td>

                                    <td>
                                        {% for profile in survey.get_profiles %}
                                            <div align="center">{{profile}}</div><br>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a  href="{% url 'view_survey' survey.id%}"><button type="button" style="margin-top: 1em;" class="btn btn-default btn-lg" >View</button></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </td>

            <td width=50%>
                <h2><a>Create New Survey</a></h2>

            </td>
        </tr>
    </table>
    {% endif %}
{% endblock content %}