{% extends 'base.html' %}
{% load humanize %}




{% block content %}
    <h1><a href="/">Trades</a></h1>
        <table align="center" class="table table-striped">
            <br>
            <br>
            <a  href="{% url 'new_trade' %}"><button type="button" style="margin-top: 2em; margin:auto; display:block;" class="btn btn-default btn-lg" >New trade</button></a>
            <thead>
                <br><br>
                <td><div align="center">Reference</div>

                <td><div align="center">Sell Amount</div>

                <td><div align="center">Buy Amount</div>

                <td><div align="center">Rate</div>

                <td><div align="center">Creation date</div>

                <td><div align="center">Options</div>
            </thead>
            <tbody>
                {% for trade in trades %}
                    <tr>

                        <td><div align="center">{{trade.deal_id}}</div></td>

                        <td><div align="center">{{trade.sell_amount|intcomma}} {{trade.sell_currency.symbol}}</div></td>

                        <td><div align="center">{{trade.buy_amount|intcomma}} {{trade.buy_currency.symbol}}</div><br></td>

                        <td><div align="center">{{trade.rate|intcomma}}</div></td>

                        <td><div align="center">{{trade.created_time}}</div></td>

                        <td>
                            <a  href="{% url 'delete' trade.id%}"><button type="button" style="margin-top: 1em;" class="btn btn-default btn-lg" >Delete</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
{% endblock content %}